@model KategoryKitapModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .orange {
        color: orange;
    }
</style>
<div class="row mt-2">
    <div class="col-md-10">
        <div class="row">
            @foreach (var item in Model.kitap)
            {
                <div class="col-md-4 my-1">
                    <div class="card">
                        <img class="card-img-top  justify-content-center" src="~/images/@item.ResimUrl" style="width:150px; height:150px" />
                        <div class="card-body">
                            <h5 class="card-title">@item.KitapAdi</h5>
                            <p>@item.Yazar.YazarAdi @item.Yazar.YazarSoyadi</p>
                            Puan:
                            @for (int i = 0; i < 5; i++)
                            {
                                if (i < @item.Puan)
                                {
                                    <span class="fa fa-star orange"></span>
                                }
                                else
                                {
                                    <span class="fa fa-star"></span>
                                }

                            }

                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
    <div class="col-md-2">
        <h5>Kategoriler</h5>
        <ul class="list-group">
            @foreach (var kategori in Model.kategori)
            {
                <li class="list-group-item">
                    <a href="/Anasayfa/Index/@kategori.KategoriId">@kategori.KategoriAdi</a>
                </li>
            }
        </ul>
    </div>
</div>